streamlit==1.32.0
pytesseract
pillow
PyMuPDF
PyPDF2
pandas
openpyxl
aiohttp
beautifulsoup4
lxml
requests
google-generativeai
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl